@font-face {
  font-family: 'JetBrains Mono';
  src: url('eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
  url('woff2/JetBrainsMono-Regular.woff2') format('woff2'),
  url('woff/JetBrainsMono-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('eot/JetBrainsMono-Italic.eot') format('embedded-opentype'),
  url('woff2/JetBrainsMono-Italic.woff2') format('wfioff2'),
  url('woff/JetBrainsMono-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
