@font-face {
  font-family: 'noto_mono';
  src: url('notomono-regular-webfont.woff2') format('woff2'),
    url('notomono-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
