<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
      rel="stylesheet"
      href="https://cloud.typography.com/610186/6080612/css/fonts.css"
    />
    <link rel="stylesheet" href="/assets/styles/style.css"/>
    <title>Coding Fonts{{' — ' + title if title}}</title>
  </head>

  <body>
    <div class="site-wrapper">
      <aside class="sidebar">
        <header>
          <h1>Coding Fonts</h1>
        </header>
        {% block nav %}
          {% include "./components/fonts-nav.njk" %}
        {% endblock nav %}
      </aside>
      <main data-site-main>
        {% block main %}
          {{ content | safe }}
        {% endblock main %}
      </main>
    </div>

    <script src="/assets/scripts/main.js"></script>
  </body>
</html>