---
layout: base
---

<section class="screenshot-stage">
  {%- for theme in samples.themes -%}
    <input type="radio" 
    hidden 
    name="theme" 
    value="{{theme}}" 
    id="control-theme-{{theme}}" 
    {{ 'checked' if loop.index === 1 }}
    oninput="setUrlParam(this.name, this.value)"
    >
  {%- endfor -%}
  {%- for language in samples.languages -%}
    <input type="radio" 
    hidden 
    name="language" 
    value="{{language.value}}" 
    id="control-language-{{language.value}}" 
    {{ 'checked' if loop.index === 1 }}
    oninput="setUrlParam(this.name, this.value)"
    >
  {%- endfor -%}
  <script>
    // set screenshot state just before loading images
    var params = new URLSearchParams(location.search),
        theme = params.get('theme'),
        language = params.get('language');

    if (theme)
      document.getElementById('control-theme-' + theme).checked = true;

    if (language)
      document.getElementById('control-language-' + language).checked = true;
  </script>
  <header class="screenshot-controls">
    <div class="controls language-controls">
      {%- for language in samples.languages -%}
        <label for="control-language-{{language.value}}" class="visually-hidden" data-language="{{language.value}}">{{language.label}}</label>
      {%- endfor -%}
    </div>
    <div class="controls theme-controls">
      {%- for theme in samples.themes -%}
        <label for="control-theme-{{theme}}" class="visually-hidden" data-theme="{{theme}}">{{theme}}</label>
      {%- endfor -%}
    </div>
  </header>
  <div class="screenshot-wrapper">
    {%- for theme in samples.themes -%}
      {%- for language in samples.languages -%}
        <picture data-theme="{{theme}}" data-language="{{language.value}}">
          {# TODO: add responsive sources #}
          <img src="/screenshots/{{title}}/{{language.value}}-{{theme}}.png">
        </picture>
      {%- endfor -%}
    {%- endfor -%}
  </div>
</section>

<section class="details">
  <h2>{{ title }}</h2>
  {%- if designers and designers.length -%}
    <p>
      <span>Designed by </span>
      {%- for designer in designers -%}
        <span class="comma-list-item">{{ designer.name }}</span>
      {%- endfor -%}
    </p>
  {%- endif -%}
  {%- if home_url -%}
    <a href="{{ home_url }} ">{{ home_url }}</a>
  {%- endif -%}
  {%- if content -%}
    {{ content | safe }}
  {%- endif -%}
</section>