@import "mixins";

* {
  box-sizing: border-box;
}

html {
  --bg-main: #333333;
  --bg-dark: #2D2D2D; // should match the backgound color of the dark themed screenshots
  --bg-light: #424242;
  --highlight: #FF006A;
  --bg-highlight: #2E141E;
  --body: #9B9B9B;
  --body-dark: #848484;
}

::selection {
  background-color: var(--highlight);
  color: var(--bg-highlight);
}

body {
  --bg: var(--bg-main);
  --text: var(--body);
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B", system-ui, sans-serif;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

a {
  &, &:visited {
    color: var(--highlight);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.comma-list-item {
  &:not(:last-child) {
    &:after {
      content: ', '
    }
  }

  &:nth-last-child(2) {
    &:after {
      content: ' ';
    }
  }
  
  &:last-child:not(:first-child) {
    &:before {
      content: 'and '
    }
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column-reverse;

  @include large {
    flex-direction: row;
  }
}

.sidebar {
  @include large {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 256px 0 0;
    
    header {
      position: sticky;
      top: 0;
    }
  }
}

main.font-page {
  @include large {
    flex: 1;
    display: flex;
  }
}

.screenshot-stage {
  max-width: 100vw;
  flex: 1;
  
  @include large {
    width: 628px;
  }
}

.screenshot-wrapper {
  flex: 1;
  padding-bottom: 75%;
  max-width: 100%;
  position: relative;

  picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.details {
  padding: 24px;
  word-break: break-word;
  
  @include large {
    flex: 314px 0 0;
    margin-right: 60px;
  }
}

$themes: light, dark;
$languages: html, css, js;

@each $theme in $themes {
  [value=#{$theme}]:not(:checked) {    
    ~ .screenshot-controls [data-theme=#{$theme}] {
      opacity: .5;
    }

    ~ .screenshot-wrapper [data-theme=#{$theme}] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@each $language in $languages {
  [value=#{$language}]:not(:checked) {
    ~ .screenshot-controls [data-language=#{$language}] {
      opacity: .5;
    }
    
    ~ .screenshot-wrapper [data-language=#{$language}] {
      opacity: 0;
      pointer-events: none;
    }
  }
}

