@font-face {
  font-family: 'Iosevka';
  src: url('./woff2/iosevka-ss08-regular.woff2') format('woff2'),
    url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/v1.14.1/woff/iosevka-ss08-regular.woff')
      format('woff');
}
@font-face {
  font-family: 'Iosevka';
  src: url('./woff2/iosevka-ss08-italic.woff2') format('woff2'),
    url('./woff/iosevka-ss08-italic.woff') format('woff');
  font-style: italic;
}
@font-face {
  font-family: 'Iosevka';
  src: url('./woff2/iosevka-ss08-bold.woff2') format('woff2'),
    url('./woff/iosevka-ss08-bold.woff') format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'Iosevka';
  src: url('./woff2/iosevka-ss08-bolditalic.woff2') format('woff2'),
    url('./woff/iosevka-ss08-bolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

pre,
code {
  font-feature-settings: 'calt' off, 'JSPT' on;
}
