@font-face {
  src: url('./CascadiaCode.woff2');
  font-family: 'Cascadia Code';
  font-style: normal;
}

@font-face {
  src: url('./CascadiaCodeItalic.woff2');
  font-family: 'Cascadia Code';
  font-style: italic;
}
