@font-face {
  src: url('JuliaMono.woff') format('woff');
  font-family: 'JuliaMono';
  font-style: normal;
}

pre,
code {
  font-feature-settings: 'zero', 'ss01';
  font-variant-ligatures: contextual;
}
