@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Regular.woff2') format('woff2'),
    url('woff/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('woff2/FiraCode-Medium.woff2') format('woff2'),
    url('woff/FiraCode-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* No italics */
.token.comment {
  font-style: normal;
}
