@font-face {
    font-family: 'Meslo LG S';
    src: local('Meslo LG S Regular'),
        url('MesloLGS-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG S';
    src: local('Meslo LG S Italic'),
        url('MesloLGS-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG S';
    src: local('Meslo LG S Bold'),
        url('MesloLGS-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG S';
    src: local('Meslo LG S Bold Italic'),
        url('MesloLGS-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
