@font-face {
    font-family: 'Meslo LG M DZ';
    src: local('Meslo LG M DZ Regular'),
        url('MesloLGMDZ-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG M DZ';
    src: local('Meslo LG M DZ Italic'),
        url('MesloLGMDZ-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG M DZ';
    src: local('Meslo LG M DZ Bold'),
        url('MesloLGMDZ-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG M DZ';
    src: local('Meslo LG M DZ Bold Italic'),
        url('MesloLGMDZ-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
