@font-face {
  font-family: 'Droid Sans Mono';
  src: url('droid-sans-mono.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* No italics */
.token.comment {
  font-style: normal;
}
