@font-face {
  font-family: 'OpenDyslexic Mono';
  src: url('OpenDyslexicMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Reduce font-size to make entire code samples visible in screenshots */
code {
  font-size: 0.7em;
}
