@font-face {
    font-family: 'Meslo LG M';
    src: local('Meslo LG M Regular'),
        url('MesloLGM-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG M';
    src: local('Meslo LG M Italic'),
        url('MesloLGM-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG M';
    src: local('Meslo LG M Bold'),
        url('MesloLGM-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG M';
    src: local('Meslo LG M Bold Italic'),
        url('MesloLGM-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
