@font-face {
  font-family: 'Codelia';
  src: url('codelia-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Codelia';
  src: url('codelia-italic-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
