* {
  box-sizing: border-box;
}

body {
  font-family: "Whitney A", "Whitney B", system-ui, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B", system-ui,
    sans-serif;
}
