* {
  box-sizing: border-box;
}

html {
  --bg-main: #333333;
  --bg-dark: #2D2D2D;
  --bg-light: #424242;
  --bg-light-theme: #FAFAFA;
  --highlight: #FF006A;
  --bg-highlight: #2E141E;
  --body: #9B9B9B;
  --body-dark: #848484;
  --bg-light-theme-darker: #ececec;
  --header-height: 108px;
  --header-shadow: 0 2px 24px rgba(0, 0, 0, 0.075);
}

::selection {
  background-color: var(--highlight);
  color: var(--bg-highlight);
}

body {
  --bg: var(--bg-main);
  --text: var(--body);
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B", system-ui, sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
  font: inherit;
}

a, a:visited {
  color: var(--highlight);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.comma-list-item {
  font-style: inherit;
}
.comma-list-item:not(:last-child):after {
  content: ", ";
}
.comma-list-item:nth-last-child(2):after {
  content: " ";
}
.comma-list-item:last-child:not(:first-of-type):before {
  content: "and ";
}
.comma-list-item:last-child:first-child:before {
  content: "";
}

.site-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding-top: var(--header-height);
}
@media screen and (min-width: 900px) {
  .site-wrapper {
    flex-direction: row;
    min-height: 100vh;
    padding-top: 0;
  }
}

.sidebar {
  background-color: var(--bg-dark);
  --text: var(--body-dark);
}
@media screen and (min-width: 900px) {
  .sidebar {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 256px 0 0;
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 24px;
  background-color: var(--bg-dark);
  font-size: 19px;
  font-weight: 700;
  color: white;
  height: var(--header-height);
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
  box-shadow: var(--header-shadow);
}
@media screen and (min-width: 900px) {
  .sidebar-header {
    position: sticky;
    width: 100%;
    box-shadow: none;
  }
}
.sidebar-header svg {
  width: 64px;
  height: 64px;
  margin-right: 0.75em;
  margin: -4px 0.75em 0 -4px;
}

.fonts-nav {
  padding: 12px 0;
}
@media screen and (min-width: 900px) {
  .fonts-nav {
    padding: 0;
  }
}
.fonts-nav a {
  display: block;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  padding: 12px;
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s ease-out;
  margin: 0 12px;
  border-radius: 6px;
}
@media screen and (min-width: 900px) {
  .fonts-nav a {
    margin: 0;
    border-radius: 0;
    padding: 9px 24px;
  }
  .fonts-nav a:after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.65685 12.7929L10.7377 7.13605L7.65685 1.47919' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    margin-right: -12px;
    width: 15px;
    height: 15px;
    display: block;
    opacity: 0;
    transform: translateX(-50%) scale(0.75);
  }
}
.fonts-nav a.active {
  background-color: var(--bg-highlight);
  color: white;
  font-weight: 700;
}
.fonts-nav a.active:after {
  opacity: 1;
  transform: none;
  transition: all 0.45s ease-out 0.075s;
}

@media screen and (min-width: 900px) {
  main.font-page {
    flex: 1;
  }
}
@media screen and (min-width: 1366px) {
  main.font-page {
    display: flex;
    margin-top: 72px;
    align-self: flex-start;
  }
}

.screenshot-stage {
  max-width: 100vw;
  flex: 1;
  margin: 12px;
  border-radius: 2vw;
  overflow: hidden;
}
@media screen and (min-width: 1366px) {
  .screenshot-stage {
    flex: 1600px 0 1;
    margin: 0;
    margin-left: 72px;
    border-radius: 18px;
    align-self: flex-start;
  }
}

.screenshot-wrapper {
  flex: 1;
  padding-bottom: 75%;
  max-width: 100%;
  position: relative;
}
.screenshot-wrapper picture {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.details {
  margin: 24px;
  word-break: break-word;
}
@media screen and (min-width: 1366px) {
  .details {
    flex: 314px 0 0;
    margin-right: 60px;
  }
}
.details h2 {
  font-size: 32px;
  font-weight: 200;
  color: white;
}
.details .designers {
  font-weight: 500;
}

ul.features {
  margin-top: 48px;
}
ul.features li {
  display: flex;
  justify-content: space-between;
}
ul.features li:not(:last-of-type) {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid 1px var(--bg-light);
}
ul.features span::first-letter {
  text-transform: uppercase;
}

.icon {
  display: block;
  background-size: contain;
  background-position: center;
}
.icon.v {
  width: 18px;
  height: 13px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='13' viewBox='0 0 18 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1L6 12L1 7' stroke='%23848484' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.icon.x {
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L1 13' stroke='%23848484' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L13 13' stroke='%23848484' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.screenshot-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-dark);
  padding: 24px;
  padding-bottom: 0;
  user-select: none;
}
[value=light]:checked ~ .screenshot-controls {
  background-color: var(--bg-light-theme);
}
[value=light]:checked ~ .screenshot-controls .controls {
  background-color: var(--bg-light-theme-darker);
}
[value=light]:checked ~ .screenshot-controls .controls label {
  --inactive-text: var(--bg-dark) ;
}
.screenshot-controls .controls {
  display: flex;
  background-color: var(--bg-light);
  padding: 3px;
  border-radius: 9px;
}
.screenshot-controls .controls label {
  --inactive-text: white;
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  padding: 0.5em 1em;
  color: white;
  background-color: var(--highlight);
  cursor: pointer;
  border-radius: 6px;
}
.screenshot-controls .controls.theme-controls {
  border-radius: 16px;
  width: 32px;
  height: 32px;
  margin-right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.screenshot-controls .controls.theme-controls label {
  position: absolute;
  border-radius: inherit;
  padding: 16px;
  font-size: 20px;
  background-color: var(--bg-light);
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.screenshot-controls .controls.theme-controls label[data-theme=dark] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='white' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpath d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z'%3E%3C/path%3E%3C/svg%3E");
}
.screenshot-controls .controls.theme-controls label[data-theme=light] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='#2D2D2D' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Ccircle cx='12' cy='12' r='5'%3E%3C/circle%3E%3Cline x1='12' y1='1' x2='12' y2='3'%3E%3C/line%3E%3Cline x1='12' y1='21' x2='12' y2='23'%3E%3C/line%3E%3Cline x1='4.22' y1='4.22' x2='5.64' y2='5.64'%3E%3C/line%3E%3Cline x1='18.36' y1='18.36' x2='19.78' y2='19.78'%3E%3C/line%3E%3Cline x1='1' y1='12' x2='3' y2='12'%3E%3C/line%3E%3Cline x1='21' y1='12' x2='23' y2='12'%3E%3C/line%3E%3Cline x1='4.22' y1='19.78' x2='5.64' y2='18.36'%3E%3C/line%3E%3Cline x1='18.36' y1='5.64' x2='19.78' y2='4.22'%3E%3C/line%3E%3C/svg%3E");
  background-color: var(--bg-light-theme-darker);
}

[value=light]:not(:checked) ~ .screenshot-controls [data-theme=light] {
  opacity: 0;
  z-index: 2;
}
[value=light]:not(:checked) ~ .screenshot-wrapper [data-theme=light] {
  opacity: 0;
  pointer-events: none;
}

[value=dark]:not(:checked) ~ .screenshot-controls [data-theme=dark] {
  opacity: 0;
  z-index: 2;
}
[value=dark]:not(:checked) ~ .screenshot-wrapper [data-theme=dark] {
  opacity: 0;
  pointer-events: none;
}

[value=html]:not(:checked) ~ .screenshot-controls [data-language=html] {
  background-color: transparent;
  color: var(--inactive-text, white);
}
[value=html]:not(:checked) ~ .screenshot-wrapper [data-language=html] {
  opacity: 0;
  pointer-events: none;
}

[value=css]:not(:checked) ~ .screenshot-controls [data-language=css] {
  background-color: transparent;
  color: var(--inactive-text, white);
}
[value=css]:not(:checked) ~ .screenshot-wrapper [data-language=css] {
  opacity: 0;
  pointer-events: none;
}

[value=js]:not(:checked) ~ .screenshot-controls [data-language=js] {
  background-color: transparent;
  color: var(--inactive-text, white);
}
[value=js]:not(:checked) ~ .screenshot-wrapper [data-language=js] {
  opacity: 0;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
