@font-face {
    font-family: 'Meslo LG S DZ';
    src: local('Meslo LG S DZ Regular'),
        url('MesloLGSDZ-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG S DZ';
    src: local('Meslo LG S DZ Italic'),
        url('MesloLGSDZ-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG S DZ';
    src: local('Meslo LG S DZ Bold'),
        url('MesloLGSDZ-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Meslo LG S DZ';
    src: local('Meslo LG S DZ Bold Italic'),
        url('MesloLGSDZ-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
